.parent {
  width: 100%;
}

.dev-icon {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  height: 30px;
  width: 30px;
  margin: auto;
  border-radius: 20%;
}

.icon {
  margin: auto;
  color: black;
}

.icon:hover {
  margin: auto;
  color: #3464ff;
}

.a {
  float: right;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
}
